* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.regisimg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.loginimg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.header {
  color: #11175d;
  font-family: "Nunito", sans-serif;
  font-size: 34px;
  font-weight: 700;
}
.regContainer {
  margin-left: auto;
  width: 75%;
  margin-top: 50%;
  transform: translateY(-50%);
}
.para {
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 13px;
}
.reginput {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.reginput .MuiTextField-root {
  width: 65%;
}
.googlepic {
  margin-top: 29px;
  cursor: pointer;
}

.loginput {
  margin-top: 30px;
  margin-bottom: 55px;
}
.loginput .MuiTextField-root {
  width: 65%;
  position: relative;
}
.loginbtn .css-sghohy-MuiButtonBase-root-MuiButton-root {
  width: 65%;
  padding: 18px 50px !important;
  border-radius: 8px !important;
  background-color: #5f34f5 !important;
}
.loginbtn .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #11175d !important;
}
.regibtn .css-sghohy-MuiButtonBase-root-MuiButton-root {
  width: 65%;
  padding: 19px 50px !important;
  border-radius: 86px !important;
  background-color: #5f34f5 !important;
}
.regibtn .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #11175d !important;
}
.loader {
  margin-top: 30px;
  margin-left: 150px;
}
.css-1fuz9qr-MuiPaper-root-MuiAlert-root {
  width: 60%;
}

.css-1hdyuqk-MuiPaper-root-MuiAlert-root {
  margin-top: 10px;
  width: 59%;
}
.eye {
  position: absolute;
  top: 17px;
  right: 207px;
}
.eyeTwo {
  position: absolute;
  right: 206px;
  top: 299px;
}
.forgotPassword {
  background-color: #11175d;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.forgotPassword .box {
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 20px;
}
.forgotPassword .box .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.navber {
  width: 100%;
  height: 100vh;
}
.navcontainer {
  height: 100vh;
  background-color: #5f35f5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.navcontainer .icon {
  color: #fff;
  font-size: 30px;
  margin: 35px 0;
  display: inline-block;
}
.navcontainer .active {
  color: #5f35f5;
  font-size: 30px;
  margin: 35px 0;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.navcontainer .active::after {
  position: absolute;
  top: -13px;
  left: -3px;
  background-color: #fff;
  width: 250%;
  height: 150%;
  content: "";
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.navcontainer .active::before {
  position: absolute;
  top: -13px;
  right: -42px;
  background-color: #5f35f5;
  width: 9px;
  height: 57px;
  content: "";
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.groupBox {
  width: 100%;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 20px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 20px -12px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  padding: 15px;
  overflow-y: scroll;
  position: relative;
  margin-bottom: 30px;
}
.groupBox .tittle {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.groupBox .list {
  display: flex;
  column-gap: 50px;
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.groupBox .list:last-child {
  border-bottom: none;
}
.groupBox .pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.userName {
  color: whitesmoke;
  margin-top: 15px;
  font-size: 25px;
}
