* {
  margin: 0;
  padding: 0;
}
.regisimg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.loginimg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.header {
  color: #11175d;
  font-family: "Nunito", sans-serif;
  font-size: 34px;
  font-weight: 700;
}
.regContainer {
  margin-left: auto;
  width: 75%;
  margin-top: 50%;
  transform: translateY(-50%);
}
.para {
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 13px;
}
.reginput {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.reginput .MuiTextField-root {
  width: 65%;
}
.googlepic {
  margin-top: 29px;
  cursor: pointer;
}

.loginput {
  margin-top: 30px;
  margin-bottom: 55px;
}
.loginput .MuiTextField-root {
  width: 65%;
  position: relative;
}
.loginbtn .css-sghohy-MuiButtonBase-root-MuiButton-root {
  width: 65%;
  padding: 18px 50px !important;
  border-radius: 8px !important;
  background-color: #5f34f5 !important;
}
.loginbtn .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #11175d !important;
}
.regibtn .css-sghohy-MuiButtonBase-root-MuiButton-root {
  width: 65%;
  padding: 19px 50px !important;
  border-radius: 86px !important;
  background-color: #5f34f5 !important;
}
.regibtn .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #11175d !important;
}
.loader {
  margin-top: 30px;
  margin-left: 150px;
}
.css-1fuz9qr-MuiPaper-root-MuiAlert-root {
  width: 60%;
}

.css-1hdyuqk-MuiPaper-root-MuiAlert-root {
  margin-top: 10px;
  width: 59%;
}
.eye {
  position: absolute;
  top: 17px;
  right: 207px;
}
.eyeTwo {
  position: absolute;
  right: 206px;
  bottom: 187px;
}
